@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Slideshow_Interval_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Slideshow.Interval" placeholder="10" value="@Model.GetValue(MemtlyConfiguration.Slideshow.Interval.ToUpper(), "10")" type="number" min="1" max="60" step="1" />
            <div class="setting-hint form-text">@_localizer["Settings_Slideshow_Interval_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Slideshow_Fade_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Slideshow.Fade" placeholder="500" value="@Model.GetValue(MemtlyConfiguration.Slideshow.Fade.ToUpper(), "500")" type="number" min="100" max="5000" step="100" />
            <div class="setting-hint form-text">@_localizer["Settings_Slideshow_Fade_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Slideshow_Limit_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Slideshow.Limit" placeholder="50" value="@Model.GetValue(MemtlyConfiguration.Slideshow.Limit.ToUpper(), "50")" type="number" min="1" step="1" />
            <div class="setting-hint form-text">@_localizer["Settings_Slideshow_Limit_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Slideshow_Share_Slide_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Slideshow.IncludeShareSlide">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Slideshow.IncludeShareSlide.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Slideshow_Share_Slide_Help"].Value</div>
        </div>
    </div>
}