@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <h5 class="mb-3">@_localizer["Downloads"].Value</h5>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_Download_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.Download">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.Download.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_Download_Help"].Value</div>
        </div>
    </div>
}