@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <h5 class="mb-3">@_localizer["QR_Codes"].Value</h5>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_QRCodeEnabled_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.QRCode.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.QRCode.Enabled.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_QRCodeEnabled_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_QRCodeDefaultView_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.QRCode.DefaultView">
                @foreach (var option in ViewOptions.GalleryDefaultView)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.QRCode.DefaultView.ToUpper(), ((int)ViewMode.Default).ToString()).Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_QRCodeDefaultView_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_QRCodeDefaultSort_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.QRCode.DefaultSort">
                @foreach (var option in ViewOptions.GalleryDefaultOrder)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.QRCode.DefaultSort.ToUpper(), ((int)GalleryOrder.Descending).ToString()).Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_QRCodeDefaultSort_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_QRCodeIncludeCulture_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.QRCode.IncludeCulture">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.QRCode.IncludeCulture.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_QRCodeIncludeCulture_Help"].Value</div>
        </div>
    </div>
}