@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <h5 class="mb-3">@_localizer["Uploads"].Value</h5>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_Upload_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.Upload">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.Upload.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_Upload_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_CameraUploads_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.CameraUploads">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.CameraUploads.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_CameraUploads_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_UploadPeriod_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.UploadPeriod" placeholder="2025-01-01 00:00 / 2025-01-03 23:59" value="@Model.GetValue(MemtlyConfiguration.Gallery.UploadPeriod.ToUpper(), string.Empty).Replace("1970-01-01 00:00", string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_UploadPeriod_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_PreventDuplicates_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.PreventDuplicates">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.PreventDuplicates.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_PreventDuplicates_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_AllowedFileTypes_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.AllowedFileTypes" placeholder=".jpg,.jpeg,.png,.mp4,.mov" value="@Model.GetValue(MemtlyConfiguration.Gallery.AllowedFileTypes.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_AllowedFileTypes_Help"].Value</div>
        </div>
    </div>
}