@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <h5 class="mb-3">@_localizer["View_Options"].Value</h5>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_ShowFilters_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.ShowFilters">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.ShowFilters.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_ShowFilters_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_DefaultView_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.DefaultView">
                @foreach (var option in ViewOptions.GalleryDefaultView)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.DefaultView.ToUpper(), ((int)ViewMode.Default).ToString()).Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_DefaultView_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_DefaultGroup_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.DefaultGroup">
                @foreach (var option in ViewOptions.GalleryDefaultGroup)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.DefaultGroup.ToUpper(), ((int)GalleryGroup.None).ToString()).Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_DefaultGroup_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_DefaultOrder_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.DefaultOrder">
                @foreach (var option in ViewOptions.GalleryDefaultOrder)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.DefaultOrder.ToUpper(), ((int)GalleryOrder.Descending).ToString()).Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_DefaultOrder_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_DefaultFilter_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.DefaultFilter">
                @foreach (var option in ViewOptions.GalleryDefaultFilter)
                {
                    if (Model.GetValue(MemtlyConfiguration.Gallery.DefaultFilter.ToUpper(), ((int)GalleryFilter.All).ToString()).Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_DefaultFilter_Help"].Value</div>
        </div>
    </div>
}