@model AccountModel
@using WeddingShare.Constants
@using WeddingShare.Helpers
@using WeddingShare.Views.Account.Tabs

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
}

@if (userPermissions.Account.HasFlag(AccountPermissions.View))
{
    <section class="pnl-account pnl-account-account pb-0 pb-lg-4">
        <div class="container px-3 px-lg-1 my-3 my-lg-0">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-6">
                        @_localizer["Account"].Value
                    </h1>
                </div>
            </div>
            <div class="row px-3 pb-3">
                <div class="col-12 border text-contrast border-primary-1 rounded py-3 text-center">
                    <div class="mx-0 mx-sm-5 px-2 px-xl-5 d-inline-block">
                        <h6>Username</h6>
                        <p>@Model.Account?.Username</p>

                        <h6>Fullname</h6>
                        <p>@string.Join(" ", Model.Account?.Firstname, Model.Account?.Lastname)</p>

                        <h6>Email Address</h6>
                        <p>@Model.Account?.Email</p>

                        <h6>Level</h6>
                        <p>@Model.Account?.Level.ToString()</p>

                        <h6>Tier</h6>
                        <p>@Model.Account?.Tier.ToString()</p>

                        <h6>Subscription</h6>
                        <p>@((Model.Account?.SubscriptionState ?? SubscriptionState.Unknown).ToString())</p>

                        <h6>Paid Until</h6>
                        <p>@(Model.Account?.SubscriptionState == SubscriptionState.Active ? Model.Account.PaidUntil!.Value.ToString("dd/MM/yyyy hh:mm tt") : "--/--/-- --:-- --")</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}