@model GalleriesModel
@using WeddingShare.Constants
@using WeddingShare.Helpers
@using WeddingShare.Views.Account.Tabs

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
}

<section class="pnl-account pnl-account-galleries pb-0 pb-lg-4">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Galleries"].Value
                    <span class="header-actions">
                        @if (!await _settings.GetOrDefault(Settings.Basic.SingleGalleryMode, false))
                        {
                            if (userPermissions.Gallery.HasFlag(GalleryPermissions.Create))
                            {
                                <span class="btnAddGallery action link-primary-2 pointer" alt="@_localizer["Create"].Value" title="@_localizer["Create"].Value">
                                    <i class="fas fa-calendar-plus"></i>
                                    <span>@_localizer["Create"].Value</span>
                                </span>
                            }
                            else if (userPermissions.Features.HasFlag(FeaturePermissions.UpgradeToUnlock))
                            {
                                <span class="action text-muted pointer" alt="@_localizer["Create"].Value (@_localizer["Upgrade_To_Unlock"].Value)" title="@_localizer["Create"].Value (@_localizer["Upgrade_To_Unlock"].Value)">
                                    <i class="fas fa-calendar-plus upgradeToUnlock" disabled="disabled" alt="@_localizer["Create"].Value"></i>
                                    <span>@_localizer["Create"].Value</span>
                                </span>
                            }
                        }
                    </span>
                </h1>
            </div>
        </div>
        <div class="row pb-5">
            <div id="galleries-list" class="col-12">
                <partial name="~/Views/Account/Partials/GalleriesList.cshtml" model="Model?.Galleries" />
            </div>
        </div>
    </div>
</section>