@model SettingsModel
@using WeddingShare.Views.Account.Tabs

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
}

@if (Model?.Settings != null)
{
    <section class="pnl-account pnl-account-settings pb-0 pb-lg-4">
        <div class="container px-3 px-lg-1 my-3 my-lg-0">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-6">@_localizer["Settings"].Value
                        <span class="header-actions">
                            <span class="btnShowAdvancedSettings action link-primary-2 pointer" alt="@_localizer["Show_Advanced_Settings"].Value" title="@_localizer["Show_Advanced_Settings"].Value">
                                <i class="fas fa-eye"></i>
                                <span>@_localizer["Advanced"].Value</span>
                            </span>
                            <span class="btnHideAdvancedSettings action link-primary-2 pointer d-none" alt="@_localizer["Hide_Advanced_Settings"].Value" title="@_localizer["Hide_Advanced_Settings"].Value">
                                <i class="fas fa-eye-slash"></i>
                                <span>@_localizer["Advanced"].Value</span>
                            </span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="row mt-3 mb-4">
                <div class="col-12 mb-3 mb-lg-0">
                    <label>@_localizer["Settings_SearchTerm_Label"].Value</label>
                    <input id="settings-search-term" class="form-control" type="text" placeholder="" />
                    <div class="form-text">@_localizer["Settings_SearchTerm_Help"].Value</div>
                </div>
            </div>
            <div class="row">
                <div id="settings-list" class="col-12">
                    <partial name="~/Views/Account/Partials/SettingsList.cshtml" model="new WeddingShare.Views.Account.Partials.SettingsListModel() { Settings = Model.Settings, CustomResources = Model.CustomResources }" />
                </div>
            </div>
        </div>
    </section>

    @if (userPermissions.Settings.HasFlag(SettingsPermissions.Update))
    {
        <section class="pnl-account pnl-account-settings pt-1 pt-lg-2 pb-0 pb-lg-2">
            <div class="container px-3 px-lg-1 my-3 my-lg-0">
                <div class="row px-3 pb-5">
                    <div class="col-12 text-end">
                        <button type="button" id="btnSaveSettings" class="btn btn-primary-2">@_localizer["Save"].Value</button>
                    </div>
                </div>
            </div>
        </section>
    }
}