@model Memtly.Core.Views.MediaViewer.Popup

<div id="media-viewer-popup" class="media-viewer-popup-hidden">
    <div class="media-viewer" data-media-viewer-index="1" data-media-viewer-collection="@Model.Collection" data-type="@Model.Type.ToLower()" data-source="@Model.Source">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <div class="media-viewer-title">@Model.Title</div>
        }
        <div class="media-viewer-content">
            <img class="media-viewer-image" src="@(Model.Type.Equals("Image", StringComparison.OrdinalIgnoreCase) ? Model.Source : Model.Thumbnail)" />
        </div>
        <div class="media-viewer-description mt-1 mx-0">
            <div class="row">
                <div class="col-7 col-lg-8 media-viewer-author">
                    <span class="mx-1">@Model.Author</span>
                </div>
                <div class="col-5 col-lg-4 media-viewer-likes">
                    @if (Model.Likes != null)
                    {
                        <div class="float-end">
                            <div class="media-viewer-like-button input-group input-group-xs">
                                <div class="input-group-text text-primary-2 border-primary-2">
                                    <span class="lbl-like-count w-px-30 text-center">@Model.Likes.Count</span>
                                </div>
                                <button class="btn btn-primary-2 @(Model.Likes.HasUserLiked ? "like-button-active" : string.Empty) @(Model.Likes.CanUserLike ? "like-button" : "login-prompt")" data-action="@(Model.Likes.HasUserLiked ? "unlike" : "like")" data-like-id="@Model.Id">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="media-viewer-description mt-2">@Model.Description</div>
        }
        <div class="media-viewer-options">
            @if (Model.DownloadEnabled)
            {
                <i class="media-viewer-download fas fa-download"></i>
            }
            <i class="media-viewer-close fas fa-close"></i>
        </div>
    </div>
</div>