@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Account_Registration_Enabled_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Account.Registration.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Account.Registration.Enabled.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Account_Registration_Enabled_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Account_Registration_RequireEmailValidation_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Account.Registration.RequireEmailValidation">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Account.Registration.RequireEmailValidation.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Account_Registration_RequireEmailValidation_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Account_Profile_Icon_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Account.ShowProfileIcon">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Account.ShowProfileIcon.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Account_Profile_Icon_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Account_Lockout_Attempts_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Account.LockoutAttempts" placeholder="5" value="@Model.GetValue(MemtlyConfiguration.Account.LockoutAttempts.ToUpper(), "5")" type="number" min="1" max="10" step="1" />
            <div class="setting-hint form-text">@_localizer["Settings_Account_Lockout_Attempts_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Account_Lockout_Mins_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Account.LockoutMins" placeholder="60" value="@Model.GetValue(MemtlyConfiguration.Account.LockoutMins.ToUpper(), "60")" type="number" min="5" step="10" />
            <div class="setting-hint form-text">@_localizer["Settings_Account_Lockout_Mins_Help"].Value</div>
        </div>
    </div>
}