@model Memtly.Core.Models.PhotoGallery
@using Memtly.Core.Constants
@using Memtly.Core.Views.Gallery
@using Memtly.Core.Views.Shared
@inject Memtly.Core.Helpers.IConfigHelper _config

@if (Model.ViewMode != ViewMode.Slideshow)
{
    var galleryName = (!string.IsNullOrWhiteSpace(Model?.Gallery?.Identifier) && !Model.Gallery.Identifier.Equals(SystemGalleries.AllGallery, StringComparison.OrdinalIgnoreCase)) ? Model.Gallery.Name.ToLower() : "default";

    var showTitle = await _settings.GetOrDefault(MemtlyConfiguration.Gallery.ShowTitle, true, Model?.Gallery?.Id);
    if (showTitle)
    {
        <div class="row mb-4">
            <div class="col-12">
                <h6 class="display-6 mx-0 my-0 text-center text-capitalize">@Model?.Gallery?.Name</h6>
            </div>
        </div>
    }

    if (!Model!.Gallery!.Identifier.Equals(SystemGalleries.AllGallery, StringComparison.OrdinalIgnoreCase))
    {
        try
        {
            var banner = await _settings.GetOrDefault(MemtlyConfiguration.Gallery.BannerImage, string.Empty, Model?.Gallery?.Id);
            if (!string.IsNullOrWhiteSpace(banner))
            {
                <div class="row mb-3 mb-lg-4 p-0">
                    <div class="col-12 gallery_banner_header text-center p-0">
                        <img src="@banner" alt="banner image" />
                    </div>
                </div>
            }
        }
        catch { }

        var quote = await _settings.GetOrDefault(MemtlyConfiguration.Gallery.Quote, string.Empty, Model?.Gallery?.Id);
        if (!string.IsNullOrWhiteSpace(quote))
        {
            <div class="row mb-3 mb-lg-4 border border-primary-1 rounded">
                <div class="col-12 quote">
                    <p class="my-4 mx-4 mx-lg-0 text-center">@quote</p>
                </div>
            </div>
        }
    }

    if (await _settings.GetOrDefault(MemtlyConfiguration.Gallery.ReviewCounter, true, Model?.Gallery?.Id))
    {
        <div class="row mb-3 mb-lg-4 review-counter text-contrast">
            <div class="col-4">
                <h6 class="my-0 text-center">@_localizer["Total"].Value<br /><span class="review-counter-total">@(Model?.TotalCount ?? 0)</span></h6>
            </div>
            <div class="col-4">
                <h6 class="my-0 text-center">@_localizer["Approved"].Value<br /><span class="review-counter-approved">@(Model?.ApprovedCount ?? 0)</span></h6>
            </div>
            <div class="col-4">
                <h6 class="my-0 text-center">@_localizer["Pending"].Value<br /><span class="review-counter-pending">@(Model?.PendingCount ?? 0)</span></h6>
            </div>
        </div>
    }
}

@if (Model?.Images != null && Model.Images.Any())
{
    <div class="row mx-1">
        @if (Model.ViewMode == ViewMode.Slideshow)
        {
            <partial name="~/Views/Gallery/Modes/Slideshow.cshtml" model="Model" />
        }
        else
        {
            <partial name="~/Views/Gallery/Modes/Default.cshtml" model="Model" />
        }
    </div>

    @if (Model.Pagination && Model.ViewMode == ViewMode.Default)
    {
        <div class="row">
            <div class="col-12">
                <partial name="~/Views/Shared/_Pagination.cshtml" model="new PaginationModel() { CurrentPage = Model.CurrentPage, TotalItems = Model?.ApprovedCount ?? 0, ItemsPerPage = Model?.ItemsPerPage ?? 50 }" />
            </div>
        </div>
    }
}
else
{
    <div class="row mx-1 my-5">
        <div class="col-12 text-center">
            <h3 class="display-6">@(Model?.UploadActivated != null ? _localizer["Gallery_Empty_Upload"].Value : _localizer["Gallery_Empty"].Value)</h3>
        </div>
    </div>
}