@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Enabled"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.IdentityCheck.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.IdentityCheck.Enabled.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_IdentityCheck_Enabled_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_IdentityCheck_RequireName_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.IdentityCheck.RequireName">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.IdentityCheck.RequireName.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_IdentityCheck_RequireName_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_IdentityCheck_RequireEmail_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.IdentityCheck.RequireEmail">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.IdentityCheck.RequireEmail.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_IdentityCheck_RequireEmail_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_IdentityCheck_PageLoad_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.IdentityCheck.ShowOnPageLoad">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.IdentityCheck.ShowOnPageLoad.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_IdentityCheck_PageLoad_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_IdentityCheck_Upload_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.IdentityCheck.RequireIdentityForUpload">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.IdentityCheck.RequireIdentityForUpload.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_IdentityCheck_Upload_Help"].Value</div>
        </div>
    </div>
}