@model AuditModel
@using Memtly.Core.Views.Account.Tabs

<section class="pnl-account pnl-account-audit pb-0 pb-lg-0">
    <div class="container px-3 px-lg-1 my-3 my-lg-4">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Audit_Logs"].Value</h1>
            </div>
        </div>
        <div class="row mt-3 mb-4">
            <div class="col-12 col-lg-8 mb-3 mb-lg-0">
                <label>@_localizer["Audit_SearchTerm_Label"].Value</label>
                <input id="audit-log-search-term" class="form-control" type="text" placeholder="" />
                <div class="form-text">@_localizer["Audit_SearchTerm_Help"].Value</div>
            </div>
            <div class="col-12 col-lg-2 mb-3 mb-lg-0">
                <label>@_localizer["Severity"].Value</label>
                <select id ="audit-log-severity" class="form-control">
                    @foreach (AuditSeverity severity in Enum.GetValues(typeof(AuditSeverity)))
                    {
                        if (severity == AuditSeverity.Information)
                        {
                            <option value="@((int)severity)" selected="selected">@severity.ToString()</option>
                        }
                        else
                        {
                            <option value="@((int)severity)">@severity.ToString()</option>
                        }
                    }
                </select>
                <div class="form-text">@_localizer["Audit_Severity_Help"].Value</div>
            </div>
            <div class="col-12 col-lg-2 mb-0">
                <label>@_localizer["Audit_Limit_Label"].Value</label>
                <input id="audit-log-limit" class="form-control" type="number" min="10" max="1000" step="10" placeholder="100" value="10" />
                <div class="form-text">@_localizer["Audit_Limit_Help"].Value</div>
            </div>
        </div>
        <div class="row pb-5">
            <div id="audit-list" class="col-12">
                <partial name="~/Views/Account/Partials/AuditList.cshtml" model="Model?.Logs" />
            </div>
        </div>
    </div>
</section>