@model DataModel
@using Memtly.Core.Constants
@using Memtly.Core.Helpers
@using Memtly.Core.Views.Account.Tabs

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
}

@if (userPermissions.Data.HasFlag(DataPermissions.View))
{
    <section class="pnl-account pnl-account-data pb-0 pb-lg-4">
        <div class="container px-3 px-lg-1 my-3 my-lg-0">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-6">
                        @_localizer["Release_Version"].Value
                    </h1>
                </div>
            </div>
            <div class="row px-3 pb-3">
                <div class="col-12 border text-contrast border-primary-1 rounded py-3 text-center">
                    <div class="mx-0 mx-sm-5 px-2 px-xl-5 d-inline-block">
                        <h5 class="mb-0">@(_settings.GetReleaseVersion(4))</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (userPermissions.Data.HasFlag(DataPermissions.Import) || userPermissions.Data.HasFlag(DataPermissions.Export))
    {
        <section class="pnl-account pnl-account-data pb-0 pb-lg-4">
            <div class="container px-3 px-lg-1 my-3 my-lg-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-6">
                            @_localizer["Manage_Data"].Value
                        </h1>
                    </div>
                </div>
                <div class="row px-3 pb-3">
                    <div class="col-12 border border-primary-1 rounded py-3 text-center">
                        @if (userPermissions.Data.HasFlag(DataPermissions.Import))
                        {
                            <div class="mx-0 mx-sm-5 px-5 px-xl-5 link-primary-2 d-inline-block">
                                <span class="btnImport pointer" alt="@_localizer["Import"].Value" title="@_localizer["Import"].Value">
                                    <i class=" fas fa-upload fa-2x"></i>
                                    <h6 class="mb-0">@_localizer["Import"].Value</h6>
                                </span>
                            </div>
                        }
                        @if (userPermissions.Data.HasFlag(DataPermissions.Export))
                        {
                            <div class="mx-0 mx-sm-5 px-5 px-xl-5 link-primary-2 d-inline-block">
                                <span class="btnExport pointer" alt="@_localizer["Export"].Value" title="@_localizer["Export"].Value">
                                    <i class="fas fa-download fa-2x"></i>
                                    <h6 class="mb-0">@_localizer["Export"].Value</h6>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }

    @if (userPermissions.Data.HasFlag(DataPermissions.Wipe))
    {
        <section class="pnl-account pnl-account-data pb-2 pb-lg-5">
            <div class="container px-3 px-lg-1 my-3 my-lg-0">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-6">
                            @_localizer["Danger_Zone"].Value
                        </h1>
                    </div>
                </div>
                <div class="row px-3 pb-3">
                    <div class="col-12 border border-primary-1 rounded py-3 text-center">
                        <div class="mx-0 mx-sm-5 px-2 px-xl-5 link-danger d-inline-block">
                            <span class="btnWipeSystem pointer" alt="@_localizer["Wipe"].Value" title="@_localizer["Wipe"].Value">
                                <i class="fas fa-broom fa-2x"></i>
                                <h6 class="mb-0">@_localizer["Wipe"].Value</h6>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}