@model ResourcesModel
@using Memtly.Core.Views.Account.Tabs
@using Memtly.Core.Views.Shared

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();

    var currentPage = 1;
    try
    {
        currentPage = int.Parse((Context.Request.Query.ContainsKey("page") && !string.IsNullOrWhiteSpace(Context.Request.Query["page"])) ? Context.Request.Query["page"].ToString().ToLower() : "1");
    }
    catch { }

    var searchTerm = string.Empty;
    try
    {
        searchTerm = (Context.Request.Query.ContainsKey("term") ? Context.Request.Query["term"].ToString() : string.Empty);
    }
    catch { }
}

<section class="pnl-account pnl-account-custom-resources">
    <div class="container px-3 px-lg-1 my-3 my-lg-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6">@_localizer["Custom_Resources"].Value
                    <span class="header-actions">
                        @if (userPermissions.CustomResources.HasFlag(CustomResourcePermissions.Delete))
                        {
                            <span class="btn-bulk-delete-resources action link-danger pointer d-none" alt="@_localizer["Delete"].Value" title="@_localizer["Delete"].Value">
                                <i class="fas fa-trash"></i>
                                <span>@_localizer["Delete"].Value</span>
                            </span>
                        }
                    </span>
                </h1>
            </div>
        </div>
        @if (userPermissions.CustomResources.HasFlag(CustomResourcePermissions.Create))
        {
            <div class="row mt-3 mb-4">
                <div class="col-12">
                    <label>@_localizer["Custom_Resources_Upload_Label"].Value</label>
                    <input id="custom-resource-upload" class="form-control" type="file" accept="image/*" />
                    <div class="form-text">@_localizer["Custom_Resources_Upload_Help"].Value</div>
                </div>
            </div>
        }
        <div class="row mt-3 mb-4">
            <div class="col-12 mb-lg-0">
                <label>@_localizer["SearchTerm_Label"].Value</label>
                <input id="custom-resources-search-term" class="form-control" type="text" placeholder="" value="@searchTerm" />
                <div class="form-text">@_localizer["SearchTerm_Help"].Value</div>
            </div>
        </div>
        <div class="row">
            <div id="custom-resources" class="col-12 pb-5">
                <partial name="~/Views/Account/Partials/CustomResources.cshtml" model="Model" />
            </div>
        </div>
    </div>
</section>