@using WeddingShare.Constants
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnvironment

@{
    var title = await _settings.GetOrDefault(Settings.Basic.Title, "WeddingShare");
    var isDemoMode = await _settings.GetOrDefault(Settings.IsDemoMode, false);

    string logo;
    try
    {
        logo = await _settings.GetOrDefault(Settings.Basic.Logo, "/images/logo.png");
    }
    catch
    {
        logo = "/images/logo.png";
    }

    string theme = "default";
    try
    {
        var selected = Context?.Request?.Cookies["Theme"]?.Trim() ?? await _settings.GetOrDefault(Settings.Themes.Default, "default");
        foreach (Themes t in Enum.GetValues(typeof(Themes)))
        {
            if (selected.Equals(t.ToString(), StringComparison.OrdinalIgnoreCase))
            {
                theme = t.ToString().ToLower();
                break;
            }
        }
    }
    catch
    {
        theme = "default";
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="icon" type="image/png" href="@logo" />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/themes/@(theme).css" asp-append-version="true" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg">
            <div class="container px-3 px-lg-5">
                <a class="navbar-brand" href="@(await _settings.GetOrDefault(Settings.Basic.HomeLink, true) ? "/" : "#")">
                    <img class="navbar-logo" src="@logo" onerror="this.onerror=null;this.src='/images/logo.png';" />
                    <span class="navbar-title">@title</span>
                </a>
            </div>
        </nav>

        <!-- Body -->
        <div id="main-wrapper">
            @if (isDemoMode)
            {
                <div class="alert alert-warning header-alert text-center" role="alert">
                    <i class="fa fa-warning mx-3"></i><b>@(_localizer["Warning"].Value.ToUpper()):</b> @_localizer["Demo_Message"].Value
                </div>
            }

            <section class="py-1 py-lg-5">
                <div class="container px-3 px-lg-1 pb-5 my-3 mt-lg-1">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- Footer -->
        <footer class="py-1">
            <div class="container">
                <p class="m-0 text-white">
                    <span class="float-none">
                        <a class="text-link text-light" href="https://github.com/Cirx08/WeddingShare" title="Copyright Cirx08" target="_blank"><i class="fa-brands fa-github"></i> WeddingShare v@(await _settings.GetReleaseVersion(3)) &copy; Cirx08 @DateTime.UtcNow.Year</a>
                    </span>
                    <span class="float-end">
                        <a class="text-link text-light" href="https://github.com/sponsors/Cirx08" title="GitHub Sponsors" target="_blank"><img class="fa-brands fa-sponsor-badge" src="/images/github.png" /></a>
                        <a class="text-link text-light" href="https://buymeacoffee.com/cirx08" title="BuyMeACoffee" target="_blank"><img class="fa-brands fa-sponsor-badge" src="/images/buymeacoffee.gif" /></a>
                    </span>
                </p>
            </div>
        </footer>

        <!-- Webpack -->
        <script src="~/dist/main.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>