@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_SingleGalleryMode_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.SingleGalleryMode">
                @foreach (var option in ViewOptions.SingleGalleryMode)
                {
                    if (Model.GetValue(MemtlyConfiguration.Basic.SingleGalleryMode.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_SingleGalleryMode_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_AllowInsecureGalleries_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Security.Hardening.AllowInsecureGalleries">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Security.Hardening.AllowInsecureGalleries.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_AllowInsecureGalleries_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_MaxGalleryCount_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.MaxGalleryCount" placeholder="1000000" value="@Model.GetValue(MemtlyConfiguration.Basic.MaxGalleryCount.ToUpper(), "1000000")" type="number" min="1" max="@(int.MaxValue.ToString())" step="10" />
            <div class="setting-hint form-text">@_localizer["Settings_Basic_MaxGalleryCount_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_GuestGalleryCreation_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.GuestGalleryCreation">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Basic.GuestGalleryCreation.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_GuestGalleryCreation_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_ThumbnailSize_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.ThumbnailSize" placeholder="720" value="@Model.GetValue(MemtlyConfiguration.Basic.ThumbnailSize.ToUpper(), "720")" type="number" min="100" step="50" />
            <div class="setting-hint form-text">@_localizer["Settings_Basic_ThumbnailSize_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gallery_IdleRefreshMins_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Gallery.IdleRefreshMins" placeholder="5" value="@Model.GetValue(MemtlyConfiguration.Gallery.IdleRefreshMins.ToUpper(), string.Empty)" type="number" min="0" max="5000" step="1" />
            <div class="setting-hint form-text">@_localizer["Settings_Gallery_IdleRefreshMins_Help"].Value</div>
        </div>
    </div>
}