@model Memtly.Core.Views.Sponsors.IndexModel
@using Memtly.Core.Constants

<div class="text-center mb-5">
    @if (Model?.SponsorsList?.Tiers != null && Model.SponsorsList.Tiers.Any(x => x?.Platforms?.Any(y => y?.Sponsors?.Any() ?? false) ?? false))
    {
        var paidTiers = Model.SponsorsList.Tiers.Where(x => !x.Name.Equals("None", StringComparison.OrdinalIgnoreCase)).OrderBy(x => x.Priority);
        if (paidTiers != null && paidTiers.Any())
        {
            foreach (var tier in paidTiers)
            {
                <section class="my-4">
                    @if (tier?.Platforms != null && tier.Platforms.Any(x => x?.Sponsors?.Any() ?? false))
                    {
                        <h5 class="text-capitalize">@tier.Name @_localizer["Members"].Value</h5>
                        foreach (var platform in tier.Platforms)
                        {
                            if (platform?.Sponsors != null && platform.Sponsors.Any())
                            {
                                foreach (var sponsor in platform.Sponsors)
                                {
                                    if (platform.Name.Equals("Github", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <a href="@((await _settings.GetOrDefault(MemtlyConfiguration.Sponsors.Github.ProfileUrl, string.Empty))?.TrimEnd('/'))/@sponsor" class="sponsor-card">
                                            <img src="@((await _settings.GetOrDefault(MemtlyConfiguration.Sponsors.Github.ProfileUrl, string.Empty))?.TrimEnd('/'))/@($"{sponsor}.png")" class="sponsor-card-logo" alt="@sponsor" onerror="this.src = '/_content/Memtly.Core/images/@(platform.Name.ToLower())_avatar.png';" />
                                            <p class="sponsor-card-name">@sponsor</p>
                                        </a>
                                    }
                                    else
                                    {
                                        <div class="sponsor-card">
                                            <img src="/_content/Memtly.Core/images/@(platform.Name.ToLower())_avatar.png" class="sponsor-card-logo" alt="@sponsor" />
                                            <p class="sponsor-card-name">@sponsor</p>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                </section>
            }
        }
        else
        {
            <section class="my-4 mb-5">
                <h5 class="text-capitalize">@_localizer["Sponsors"].Value</h5>
                <p>@_localizer["Sponsors_BecomeTheFirst"]</p>
            </section>
        }

        var freeTiers = Model.SponsorsList.Tiers.Where(x => x.Name.Equals("None", StringComparison.OrdinalIgnoreCase) && x.Platforms != null && x.Platforms.Any()).SelectMany(x => x.Platforms);
        if (freeTiers != null && freeTiers.Any())
        {
            <section class="my-4">
                <h5 class="text-capitalize">@_localizer["Supporters"].Value</h5>
                @foreach (var platform in freeTiers)
                {
                    if (platform?.Sponsors != null && platform.Sponsors.Any())
                    {
                        foreach (var sponsor in platform.Sponsors.Take(50))
                        {
                            if (platform.Name.Equals("Github", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="@((await _settings.GetOrDefault(MemtlyConfiguration.Sponsors.Github.ProfileUrl, string.Empty))?.TrimEnd('/'))/@sponsor" class="sponsor-card sponsor-card-small">
                                    <img src="@((await _settings.GetOrDefault(MemtlyConfiguration.Sponsors.Github.ProfileUrl, string.Empty))?.TrimEnd('/'))/@($"{sponsor}.png")" class="sponsor-card-logo" alt="@sponsor" onerror="this.src = '/_content/Memtly.Core/images/@(platform.Name.ToLower())_avatar.png';" />
                                </a>
                            }
                            else
                            {
                                <div class="sponsor-card sponsor-card-small">
                                    <img src="@((await _settings.GetOrDefault(MemtlyConfiguration.Sponsors.Github.ProfileUrl, string.Empty))?.TrimEnd('/'))/@($"{sponsor}.png")" class="sponsor-card-logo" alt="@sponsor" onerror="this.src = '/_content/Memtly.Core/images/@(platform.Name.ToLower())_avatar.png';" />
                                </div>
                            }
                        }

                        <small class="sponsors-more-text"><a class="text-link link-primary-1" href="@_config.GetConfigValue(MemtlyStaticConfiguration.Links.GitHubStargazers)" title="GitHub Sponsors" target="_blank">@_localizer["Full_Sponsors_List_Link_Message"].Value</a></small>
                    }
                }
            </section>
        }
    }
    else
    {
        <h6>@_localizer["Sponsors_BecomeTheFirst"]</h6>
    }
</div>