@model Memtly.Core.Views.Account.Settings.Basic.GeneralModel
@using Memtly.Core.Constants

@if (Model?.Settings != null && Model.Settings.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_Title_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.Title" placeholder="" value="@Model.Settings.GetValue(MemtlyConfiguration.Basic.Title.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Basic_Title_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_Logo_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.Logo" placeholder="my-banner.jpg">
                <option value="/images/logo.png">Default</option>
                @{
                    var currentValue = Model.Settings.GetValue(MemtlyConfiguration.Basic.Logo.ToUpper(), string.Empty);
                    if (Model?.CustomResources != null && Model.CustomResources.Any())
                    {
                        foreach (var option in Model.CustomResources)
                        {
                            var path = $"/custom_resources/{option.FileName}";
                            if (currentValue.Equals(path, StringComparison.OrdinalIgnoreCase))
                            {
                                <option value="@path" selected="selected">@option.Title</option>
                            }
                            else
                            {
                                <option value="@path">@option.Title</option>
                            }
                        }
                    }
                    else if (!string.IsNullOrWhiteSpace(currentValue))
                    {
                        <option value="@currentValue" selected="selected">@currentValue?.Split(new[] { '/' }, StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries)?.LastOrDefault()</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_Logo_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_BaseUrl_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.BaseUrl" placeholder="https://www.your-domain.com/" value="@Model.Settings.GetValue(MemtlyConfiguration.Basic.BaseUrl.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Basic_BaseUrl_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_ForceHttps_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.ForceHttps">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(MemtlyConfiguration.Basic.ForceHttps.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_ForceHttps_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_HomeLink_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.HomeLink">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(MemtlyConfiguration.Basic.HomeLink.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_HomeLink_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_LinksOpenNewTab_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Basic.LinksOpenNewTab">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(MemtlyConfiguration.Basic.LinksOpenNewTab.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_LinksOpenNewTab_Help"].Value</div>
        </div>
    </div>
}