@model ReviewsModel
@using Memtly.Core.Constants
@using Memtly.Core.Models.Database
@using Memtly.Core.Views.Account.Partials
@using Memtly.Core.Views.Account.Tabs
@using Memtly.Core.Views.Shared

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
    var identityEnabled = await _settings.GetOrDefault(MemtlyConfiguration.IdentityCheck.Enabled, true);
    var requireEmailEnabled = identityEnabled ? await _settings.GetOrDefault(MemtlyConfiguration.IdentityCheck.RequireEmail, false) : false;

    var currentPage = 1;
    try
    {
        currentPage = int.Parse((Context.Request.Query.ContainsKey("page") && !string.IsNullOrWhiteSpace(Context.Request.Query["page"])) ? Context.Request.Query["page"].ToString().ToLower() : "1");
    }
    catch { }
}

<div class="row">
    @if (userPermissions.Review.HasFlag(ReviewPermissions.View) && Model?.PendingRequests != null && Model.PendingRequests.Any())
    {
        var index = 0;
        foreach (var gallery in Model.PendingRequests)
        {
            if (gallery.Images != null)
            {
                foreach (var review in gallery.Images)
                {
                    if (review != null)
                    {
                        <div class="pending-approval col-12 col-lg-4 mb-4 mb-lg-0 mb-1 mb-lg-4">
                            <div class="card">
                                <a href="@review.ImagePath" class="media-viewer-item" data-media-viewer-id="@review.Id" data-media-viewer-index="@index" data-media-viewer-collection="pending_reviews" data-media-viewer-type="pending_review">
                                    <img src="@review.ThumbnailPath" class="review-tile" loading="lazy" />
                                    @if (review?.MediaType == MediaType.Video)
                                    {
                                        <img src="/_content/Memtly.Core/images/play-button.svg" class="media-viewer-play" loading="lazy" />
                                    }
                                    @if (userPermissions.Review.HasFlag(ReviewPermissions.Approve))
                                    {
                                        <i class="fa fa-thumbs-up btnReviewApprove d-lg-none" data-id="@review?.Id" data-name="@review?.Name"></i>
                                    }
                                    @if (userPermissions.Review.HasFlag(ReviewPermissions.Reject))
                                    {
                                        <i class="fa fa-thumbs-down btnReviewReject d-lg-none" data-id="@review?.Id" data-name="@review?.Name"></i>
                                    }
                                    <i class="fa fa-square btn-multi-select" data-id="@review?.Id"></i>
                                </a>
                                <div class="card-header my-0 py-0">
                                    <div class="row card-title text-capitalize border-top py-0 pt-2">
                                        @if (identityEnabled)
                                        {
                                            var uploaderName = !string.IsNullOrWhiteSpace(review?.UploadedBy) ? review.UploadedBy : "Anonymous";

                                            <div class="col-12 col-lg-6 text-lg-center text-truncate" alt="@gallery.Gallery.Name" title="@gallery.Gallery.Name">
                                                <b>@_localizer["Gallery"].Value:</b> @gallery.Gallery.Name
                                            </div>
                                            <div class="col-12 col-lg-6 text-lg-center text-truncate" alt="@uploaderName" title="@uploaderName">
                                                <b>@_localizer["Uploader"].Value:</b> @uploaderName
                                            </div>
                                            @if (requireEmailEnabled)
                                            {
                                                var emailAddress = !string.IsNullOrWhiteSpace(review?.UploaderEmailAddress) ? review.UploaderEmailAddress : "Anonymous";

                                                <div class="col-12 text-lg-center mt-lg-1 text-truncate" alt="@emailAddress" title="@emailAddress">
                                                    <b>@_localizer["EmailAddress"].Value:</b> <span class="text-lowercase">@emailAddress</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-12 text-truncate">
                                                <b>@_localizer["Gallery"].Value:</b> @gallery.Gallery.Name
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        index++;
                    }
                }
            }
        }

        <div class="row mt-3">
            <div class="col-12">
                <partial name="~/Views/Shared/_Pagination.cshtml" model="new PaginationModel() { CurrentPage = currentPage, TotalItems = Model?.TotalItems ?? 0, ItemsPerPage = Model?.TotalItemsPerPage ?? 50 }" />
            </div>
        </div>
    }
    else
    {
        <div class="col-12 text-center border border-primary-1 border-primary-1 rounded py-5">
            <h3 class="display-6">@_localizer["No_Pending_Uploads"].Value</h3>
        </div>
    }
</div>