@model WeddingShare.Models.PhotoGallery

@using WeddingShare.Constants
@using WeddingShare.Views.Gallery.Modes

@{
    var slideshowSlideInterval = TimeSpan.FromSeconds(await _settings.GetOrDefault(Settings.Slideshow.Interval, 10)).TotalMilliseconds;
    var slideshowFadeInterval = await _settings.GetOrDefault(Settings.Slideshow.Fade, 500);
    var slideLimit = 3; // await _settings.GetOrDefault(Settings.Slideshow.Limit, int.MaxValue);
    var identityEnabled = await _settings.GetOrDefault(Settings.IdentityCheck.Enabled, true);

    if (Model?.Images != null)
    {
        <div class="slideshow col-12">
            @foreach (var image in Model.Images.Take(slideLimit))
            {
                <div class="slideshow-slide">
                    <img src="@image.ImagePath" class="slideshow-slide-img shadow-1-strong" loading="lazy" />
                    @if (identityEnabled)
                    {
                        <h6 class="credits">@_localizer["Uploaded_By"].Value: @(!string.IsNullOrWhiteSpace(image?.UploadedBy) ? image.UploadedBy : "Anonymous")</h6>
                    }
                </div>
            }

            @if (await _settings.GetOrDefault(Settings.Slideshow.IncludeShareSlide, true))
            {
                <div class="slideshow-slide">
                    <span class="slideshow-slide-img share-slide" data-value="@Html.Raw(ViewBag.QRCodeLink)"></span>
                    <h6 class="credits">@_localizer["Scan_To_Share"].Value</h6>
                </div>
            }
        </div>
    }

    <input type="hidden" id="slideshowSlideInterval" value="@slideshowSlideInterval" />
    <input type="hidden" id="slideshowFadeInterval" value="@slideshowFadeInterval" />
}