@model List<GalleryModel>
@using WeddingShare.Constants
@using WeddingShare.Views.Account
@using WeddingShare.Models.Database
@inject WeddingShare.Helpers.IEncryptionHelper _encryption
@inject WeddingShare.Helpers.IFileHelper _file
@inject WeddingShare.Helpers.IUrlHelper _url

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
    var tooltipDisabled = $"({_localizer["Disabled"].Value})";
    var tooltipUpgradeToUnlock = $"({_localizer["Upgrade_To_Unlock"].Value})";
}

@if (userPermissions.Gallery.HasFlag(GalleryPermissions.View) && Model != null && Model.Any())
{
    <table class="table table-rounded-border">
        <tr>
            <th class="col-5 col-md-3">@_localizer["Name"].Value</th>
            <th class="col-1 d-none d-md-table-cell">@_localizer["Total"].Value</th>
            <th class="col-1 d-none d-md-table-cell">@_localizer["Approved"].Value</th>
            <th class="col-1 d-none d-md-table-cell">@_localizer["Pending"].Value</th>
            <th class="col-1 d-none d-md-table-cell">@_localizer["Key"].Value</th>
            <th class="col-2 d-none d-md-table-cell">@_localizer["Space_Percent_Used"].Value</th>
            <th class="col-7 col-md-3">@_localizer["Actions"].Value</th>
        </tr>
        @foreach (var gallery in Model.OrderBy(x => x.Identifier.Equals("All", StringComparison.OrdinalIgnoreCase) ? 0 : 1).ThenBy(x => x.Name.ToLower()).ThenBy(x => x.OwnerName.ToLower()))
        {
            if (gallery != null)
            { 
                var append = new List<KeyValuePair<string, string>>()
                {
                    new KeyValuePair<string, string>("identifier", gallery.Identifier)
                };

                if (!string.IsNullOrWhiteSpace(gallery.SecretKey))
                {
                    var enc = _encryption.IsEncryptionEnabled();
                    append.Add(new KeyValuePair<string, string>("key", enc ? _encryption.Encrypt(gallery.SecretKey) : gallery.SecretKey));
                    append.Add(new KeyValuePair<string, string>("enc", enc.ToString().ToLower()));
                }

                <tr data-gallery-id="@gallery.Id" data-gallery-name="@gallery.Name" data-gallery-key="@gallery.SecretKey">
                    <td class="gallery-name text-capitalize">@gallery.Name (@gallery.OwnerName)</td>
                    <td class="d-none d-md-table-cell text-center">@gallery.TotalItems</td>
                    <td class="d-none d-md-table-cell text-center">@gallery.ApprovedItems</td>
                    <td class="d-none d-md-table-cell text-center">@gallery.PendingItems</td>
                    <td class="d-none d-md-table-cell text-center">
                        <i class="fas @(gallery.Identifier.Equals("All", StringComparison.OrdinalIgnoreCase) || !string.IsNullOrWhiteSpace(gallery.SecretKey) ? "fa-lock" : "fa-lock-open") m-0"></i>
                    </td>
                    <td class="d-none d-md-table-cell text-center">
                        @(gallery.Identifier.Equals("All", StringComparison.OrdinalIgnoreCase) ? _file.BytesToHumanReadable(gallery.TotalGallerySize, 2) : $"{_file.BytesToHumanReadable(gallery.TotalGallerySize, 2)} ({gallery.CalculateUsage(await _settings.GetOrDefault(Settings.Gallery.MaxSizeMB, long.MaxValue, gallery?.Id))})")
                    </td>
                    <td>
                        <!-- ( Open Gallery ) -->
                        @if (userPermissions.Gallery.HasFlag(GalleryPermissions.View))
                        {
                            var tooltip = _localizer["Open"].Value;
                            <button class="btnOpenGallery btn btn-primary-3" data-url="@_url.GenerateFullUrl(Context?.Request, "/Gallery", append, new List<string>() { "partial" })" data-target="@(await _settings.GetOrDefault(Settings.Basic.LinksOpenNewTab, true) ? "_blank" : "_self")" alt="@tooltip" title="@tooltip">
                                <i class="fas fa-up-right-from-square"></i>
                            </button>
                        }

                        <!-- ( Download Gallery ) -->
                        @if (userPermissions.Gallery.HasFlag(GalleryPermissions.Download))
                        {
                            var tooltip = _localizer["Download"].Value;
                            if (gallery.TotalItems > 0)
                            {
                                <button class="btnDownloadGallery btn btn-primary-3" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-download"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-disabled" disabled=disabled alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-download"></i>
                                </button>
                            }
                        }
                        else if (userPermissions.Features.HasFlag(FeaturePermissions.UpgradeToUnlock))
                        {
                            var tooltip = $"{_localizer["Download"].Value} {tooltipUpgradeToUnlock}";
                            <button class="btn btn-disabled upgradeToUnlock" disabled=disabled alt="@tooltip" title="@tooltip">
                                <i class="fas fa-download"></i>
                            </button>
                        }

                        <!-- ( Edit Gallery ) -->
                        @if (userPermissions.Gallery.HasFlag(GalleryPermissions.Update))
                        {
                            var tooltip = _localizer["Edit"].Value;
                            if (gallery.TotalItems > 0)
                            {
                                <button class="btnEditGallery btn btn-primary-3" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-disabled" alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>
                            }
                        }

                        <!-- ( Wipe Gallery ) -->
                        @if (userPermissions.Gallery.HasFlag(GalleryPermissions.Wipe))
                        {
                            var tooltip = _localizer["Wipe"].Value;
                            if (gallery.TotalItems > 0)
                            {
                                <button class="btnWipeGallery btn btn-danger" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-broom"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-disabled" disabled=disabled alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-broom"></i>
                                </button>
                            }
                        }
                        else if (userPermissions.Features.HasFlag(FeaturePermissions.UpgradeToUnlock))
                        {
                            var tooltip = $"{_localizer["Wipe"].Value} {tooltipUpgradeToUnlock}";
                            <button class="btn btn-disabled upgradeToUnlock" disabled=disabled alt="@tooltip" title="@tooltip">
                                <i class="fas fa-broom"></i>
                            </button>
                        }

                        <!-- ( Delete Gallery ) -->
                        @if (userPermissions.Gallery.HasFlag(GalleryPermissions.Delete))
                        {
                            var tooltip = _localizer["Delete"].Value;
                            if (gallery.TotalItems > 0)
                            {
                                <button class="btnDeleteGallery btn btn-danger" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-trash-can"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-disabled" alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-trash-can"></i>
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="col-12 text-center border border-primary-1 rounded py-3 py-lg-4">
        <h3 class="display-6">@_localizer["No_Data"].Value</h3>
    </div>
}