@model List<UserModel>
@using WeddingShare.Views.Account
@using WeddingShare.Models.Database

@{
    var userPermissions = (User?.Identity?.GetUserPermissions() ?? new Permissions());
    var tooltipDisabled = $"({_localizer["Disabled"].Value})";
    var tooltipUpgradeToUnlock = $"({_localizer["Upgrade_To_Unlock"].Value})";
}

@if (userPermissions.Users.HasFlag(UserPermissions.View) && Model != null && Model.Any())
{
    <table class="table table-rounded-border">
        <tr>
            <th class="col-5 col-md-4">@_localizer["Name"].Value</th>
            <th class="col-7 col-md-8">@_localizer["Actions"].Value</th>
        </tr>
        @foreach (var user in Model.OrderBy(x => x.Username.ToLower()))
        {
            if (user != null)
            {
                <tr data-user-id="@user.Id" data-user-name="@user.Username" data-user-email="@user.Email" data-user-level="@((int)user.Level)" data-modify-level="@userPermissions.Users.HasFlag(UserPermissions.Change_Permissions_Level).ToString().ToLower()">
                    <td class="user-name text-capitalize">@user.Username</td>
                    <td>
                        <!-- ( Edit User ) -->
                        @if (userPermissions.Users.HasFlag(UserPermissions.Update))
                        {
                            var tooltip = _localizer["User_Edit"].Value;
                            @if (user.Id > 1)
                            {
                                <button class="btnEditUser btn btn-outline-success" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-outline-disabled" alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-pen-to-square"></i>
                                </button>
                            }
                        }

                        <!-- ( Change User Password ) -->
                        @if (userPermissions.Users.HasFlag(UserPermissions.Change_Password))
                        {
                            var tooltip = _localizer["Change_Password"].Value;
                            @if (user.Id > 1)
                            {
                                <button class="btnChangePassword btn btn-outline-success" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-unlock-keyhole"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-outline-disabled" alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-unlock-keyhole"></i>
                                </button>
                            }
                        }

                        <!-- ( Reset 2FA ) -->
                        @if (userPermissions.Users.HasFlag(UserPermissions.Reset_MFA))
                        {
                            if (user.Id > 1 && !string.IsNullOrWhiteSpace(user.MultiFactorToken))
                            {
                                var tooltip = _localizer["Wipe_2FA"].Value;
                                <button class="btnWipe2FA btn btn-outline-danger" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-key"></i>
                                </button>
                            }
                            else
                            {
                                var tooltip = _localizer["2FA_Not_Set"].Value;
                                <button class="btn btn-outline-disabled" alt="@tooltip" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-lock-open"></i>
                                </button>
                            }
                        }

                        <!-- ( Freeze / Un-Freeze User ) -->
                        @if (userPermissions.Users.HasFlag(UserPermissions.Freeze))
                        {
                            if (user.Id > 1)
                            {
                                if (user.State == AccountState.PendingActivation)
                                {
                                    var tooltip = _localizer["Activate"].Value;
                                    <button class="btnActivateUser btn btn-outline-primary" alt="@tooltip" title="@tooltip">
                                        <i class="fas fa-hourglass-half"></i>
                                    </button>
                                }
                                else if (user.State == AccountState.Frozen)
                                {
                                    var tooltip = _localizer["Unfreeze"].Value;
                                    <button class="btnUnfreezeUser btn btn-outline-primary" alt="@tooltip" title="@tooltip">
                                        <i class="fas fa-fire"></i>
                                    </button>
                                }
                                else
                                {
                                    var tooltip = _localizer["Freeze"].Value;
                                    <button class="btnFreezeUser btn btn-outline-danger" alt="@tooltip" title="@tooltip">
                                        <i class="fas fa-snowflake"></i>
                                    </button>
                                }
                            }
                            else
                            {
                                if (user.State == AccountState.PendingActivation)
                                {
                                    var tooltip = _localizer["Activate"].Value;
                                    <button class="btn btn-outline-disabled" alt="@tooltip" title="@tooltip @tooltipDisabled">
                                        <i class="fas fa-hourglass-half"></i>
                                    </button>
                                }
                                else if (user.State == AccountState.Frozen)
                                {
                                    var tooltip = _localizer["Unfreeze"].Value;
                                    <button class="btn btn-outline-disabled" alt="@tooltip" title="@tooltip @tooltipDisabled">
                                        <i class="fas fa-fire"></i>
                                    </button>
                                }
                                else
                                {
                                    var tooltip = _localizer["Freeze"].Value;
                                    <button class="btn btn-outline-disabled" alt="@tooltip" title="@tooltip @tooltipDisabled">
                                        <i class="fas fa-snowflake"></i>
                                    </button>
                                }
                            }
                        }

                        <!-- ( Delete User ) -->
                        @if (userPermissions.Users.HasFlag(UserPermissions.Delete))
                        {
                            var tooltip = _localizer["Delete"].Value;
                            if (user.Id > 1)
                            {
                                <button class="btnDeleteUser btn btn-outline-danger" alt="@tooltip" title="@tooltip">
                                    <i class="fas fa-trash-can"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-outline-disabled" alt="@tooltip @tooltipDisabled" title="@tooltip @tooltipDisabled">
                                    <i class="fas fa-trash-can"></i>
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="col-12 text-center border rounded py-3 py-lg-4">
        <h3 class="display-6">@_localizer["No_Data"].Value</h3>
    </div>
}