@model ForgotPasswordModel
@using WeddingShare.Constants
@using WeddingShare.Views.Account

<div id="main-content">
    <div class="container px-3 px-lg-1 pb-4">
        <div class="card">
            <div class="card-header">
                <h1 class="display-6">@_localizer["ForgotPassword"].Value</h1>
            </div>
            <div class="card-body m-1 m-lg-5">
                <form id="frmForgotPassword">
                    @Html.AntiForgeryToken()

                    <div class="row mb-4 mb-lg-4">
                        <div class="col-12">
                            <label>@_localizer["ForgotPassword_Email_Label"].Value</label>
                            <input class="input-email form-control" type="email" placeholder="" value="" />
                            <div class="form-text">@_localizer["ForgotPassword_Email_Help"].Value</div>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button id="btnForgotPassword" class="btn btn-primary" type="submit">@_localizer["Reset"].Value</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="py-1 pb-lg-5 text-center">
        @Html.ActionLink($"\u00AB {_localizer["Back"].Value}", "Login", "Account", null, new { @class = "text-link mx-2" })
    </div>
</div>