@model IndexModel
@using WeddingShare.Views.Account
@using WeddingShare.Views.Account.Tabs

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? new Permissions();
    var showNoAccessMessage = false;

    if (userPermissions.Users.HasFlag(UserPermissions.Login))
    {
        if (userPermissions.Features.HasFlag(FeaturePermissions.UpgradeToUnlock))
        {
            <section class="py-3 border banner-message">
                <div class="row px-5">
                    <div class="col-12 col-md-10 text-center">
                        <span class="px-3">@_localizer["Upgrade_Account_Message"].Value</span>
                    </div>
                    <div class="col-12 col-md-2 text-center text-md-start mt-3 mt-md-0">
                    <button class="btn btn-sm btn-success px-3">@_localizer["Upgrade"].Value</button>
                    </div>
                </div>
            </section>
        }

        <section class="nav-border-bottom pb-0 pb-lg-0">
            <div class="container px-1 px-md-3 px-lg-1 my-3 my-lg-4">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs nav-horizontal-scroller">
                            @if (userPermissions.Review.HasFlag(ReviewPermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Reviews ? "active" : string.Empty)" href="#" data-tab="reviews">@_localizer["Review"].Value</a>
                                </li>
                            }
                            @if (userPermissions.Gallery.HasFlag(GalleryPermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Galleries ? "active" : string.Empty)" href="#" data-tab="galleries">@_localizer["Galleries"].Value</a>
                                </li>
                            }
                            @if (userPermissions.Users.HasFlag(UserPermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Users ? "active" : string.Empty)" href="#" data-tab="users">@_localizer["Users"].Value</a>
                                </li>
                            }
                            @if (userPermissions.CustomResources.HasFlag(CustomResourcePermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Resources ? "active" : string.Empty)" href="#" data-tab="resources">@_localizer["Resources"].Value</a>
                                </li>
                            }
                            @if (userPermissions.Settings.HasFlag(SettingsPermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Settings ? "active" : string.Empty)" href="#" data-tab="settings">@_localizer["Settings"].Value</a>
                                </li>
                            }
                            @if (userPermissions.Audit.HasFlag(AuditPermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Audit ? "active" : string.Empty)" href="#" data-tab="audit">@_localizer["Audit"].Value</a>
                                </li>
                            }
                            @if (userPermissions.Data.HasFlag(DataPermissions.View))
                            {
                                <li class="nav-item">
                                    <a class="pnl-selector nav-link @(Model.ActiveTab == AccountTabs.Data ? "active" : string.Empty)" href="#" data-tab="data">@_localizer["Data"].Value</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        @if (Model.ActiveTab == AccountTabs.Reviews && userPermissions.Review.HasFlag(ReviewPermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Reviews.cshtml" model="new ReviewsModel() { PendingRequests = Model?.PendingRequests }" />
        }
        else if (Model.ActiveTab == AccountTabs.Galleries && userPermissions.Gallery.HasFlag(GalleryPermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Galleries.cshtml" model="new GalleriesModel() { Galleries = Model?.Galleries }" />
        }
        else if (Model.ActiveTab == AccountTabs.Users && userPermissions.Users.HasFlag(UserPermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Users.cshtml" model="new UsersModel() { Users = Model?.Users }" />
        }
        else if (Model.ActiveTab == AccountTabs.Resources && userPermissions.CustomResources.HasFlag(CustomResourcePermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Resources.cshtml" model="new ResourcesModel() { CustomResources = Model?.CustomResources }" />
        }
        else if (Model.ActiveTab == AccountTabs.Settings && userPermissions.Settings.HasFlag(SettingsPermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Settings.cshtml" model="new SettingsModel() { Settings = Model?.Settings, CustomResources = Model?.CustomResources }" />
        }
        else if (Model.ActiveTab == AccountTabs.Audit && userPermissions.Audit.HasFlag(AuditPermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Audit.cshtml" model="new AuditModel() { Logs = Model?.AuditLogs }" />
        }
        else if (Model.ActiveTab == AccountTabs.Data && userPermissions.Data.HasFlag(DataPermissions.View))
        {
            <partial name="~/Views/Account/Tabs/Data.cshtml" model="new DataModel()" />
        }
        else
        {
            showNoAccessMessage = true;
        }
    }
    else
    {
        showNoAccessMessage = true;
    }

    if (showNoAccessMessage)
    {
        <section class="pnl-account pt-3 pt-lg-5 pb-2 pb-lg-5">
            <div class="container px-3 px-lg-1 my-3 my-lg-0">
                <div class="row px-3 pb-3">
                    <div class="col-12 border rounded py-3 text-center">
                        <div class="mx-0 my-5 mx-sm-5 px-2 px-xl-5 d-inline-block">
                            <h5 class="mb-3">@_localizer["Currently_No_Access"].Value</h5>
                            <p class="mb-0">@_localizer["Contact_Admin_For_Access"].Value</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}