@using WeddingShare.Views.Account

@{
    var isDemoMode = await _settings.GetOrDefault(Settings.IsDemoMode, false);
    var isRegistrationEnabled = await _settings.GetOrDefault(Settings.Account.Registration.Enabled, true);
}

<div id="main-content">
    <div class="container px-3 px-lg-1 pb-4">
        @if (isDemoMode)
        {
            <div class="alert alert-success text-center mb-2" role="alert">
                <b>Username:</b> demo | <b>Password:</b> demo
            </div>
        }

        <div class="card">
            <div class="card-header">
                <h1 class="display-6">@_localizer["Login"].Value</h1>
            </div>
            <div class="card-body m-1 m-lg-5">
                <form id="frmLogin">
                    @Html.AntiForgeryToken()

                    <div class="row mb-4 mb-lg-5">
                        <div class="col-12">
                            <input type="text" class="input-username form-control" aria-describedby="login-username-help" placeholder="@_localizer["Login_Username_Placeholder"].Value" aria-label="@_localizer["Login_Username"].Value" />
                            <div class="form-text">@_localizer["Login_Username_Help"].Value</div>
                        </div>
                    </div>
                    <div class="row mb-4 mb-lg-5">
                        <div class="col-12">
                            <input type="password" class="input-password form-control" aria-describedby="login-password-help" placeholder="@_localizer["Login_Password_Placeholder"].Value" aria-label="@_localizer["Login_Password"].Value" />
                            <div class="form-text">@_localizer["Login_Password_Help"].Value</div>
                        </div>
                    </div>
                    <div class="row mt-4 mt-lg-5">
                        <div class="col-12">
                            <button id="btnLogin" class="btn btn-primary w-100" type="submit">@_localizer["Login"].Value</button>
                        </div>
                    </div>

                    @if (isRegistrationEnabled)
                    {
                        <div class="row mt-4 mt-lg-5 text-center">
                            <div class="col-12">
                                @Html.ActionLink(_localizer["Register_Account"].Value, "Register", "Account", null, new { @class = "text-link mx-2" }) | @Html.ActionLink(_localizer["Forgot_Password"].Value, "ForgotPassword", "Account", null, new { @class = "text-link mx-2" })
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>