@model ResetPasswordViewModel
@using WeddingShare.Views.Account

<div id="main-content">
    <div class="container px-3 px-lg-1 pb-4">
        <div class="card">
            <div class="card-header">
                <h1 class="display-6">@_localizer["PasswordReset"].Value</h1>
            </div>
            <div class="card-body m-1 m-lg-5">
                <form id="frmResetPassword">
                    @Html.AntiForgeryToken()

                    <input class="input-data" type="hidden" value="@Model.Data"/>

                    <div class="row mb-4 mb-lg-4">
                        <div class="col-12">
                            <label>@_localizer["Register_Password_Label"].Value</label>
                            <input class="input-password form-control" type="password" placeholder="" value="" />
                            <div class="form-text">@_localizer["Register_Password_Help"].Value</div>
                        </div>
                    </div>

                    <div class="row mb-4 mb-lg-4">
                        <div class="col-12">
                            <label>@_localizer["Register_CPassword_Label"].Value</label>
                            <input class="input-cpassword confirm-password form-control" type="password" placeholder="" value="" />
                            <div class="form-text">@_localizer["Register_CPassword_Help"].Value</div>
                        </div>
                    </div>

                    <div class="row mb-4 mb-lg-4">
                        <div class="col-12 password-validator-container" data-input="input.input-password"></div>
                    </div>

                    <div class="d-grid gap-2 mt-4 mt-lg-5">
                        <button id="btnResetPassword" class="btn btn-primary" type="submit">@_localizer["Update"].Value</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="py-1 pb-lg-5 text-center">
        @Html.ActionLink($"\u00AB {_localizer["Back"].Value}", "Login", "Account", null, new { @class = "text-link mx-2" })
    </div>
</div>