@model IDictionary<string, string>?
@using Memtly.Core.Constants

@{
    var isDemoMode = await _settings.GetOrDefault(MemtlyConfiguration.IsDemoMode, false);
}

@if (isDemoMode)
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <span>@(_localizer["Feature_Unavailable_Demo_Mode"].Value)</span>
        </div>
    </div>
}
else if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Enabled"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Gotify.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Notifications.Gotify.Enabled.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Gotify_Enabled_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gotify_Endpoint_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Gotify.Endpoint" placeholder="https://gotify.your-domain.com/" value="@Model.GetValue(MemtlyConfiguration.Notifications.Gotify.Endpoint.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Gotify_Endpoint_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gotify_Token_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Gotify.Token" placeholder="my-token" value="@Model.GetValue(MemtlyConfiguration.Notifications.Gotify.Token.ToUpper(), string.Empty)" type="password" />
            <div class="setting-hint form-text">@_localizer["Settings_Gotify_Token_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Gotify_Priority_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Gotify.Priority" placeholder="4" value="@Model.GetValue(MemtlyConfiguration.Notifications.Gotify.Priority.ToUpper(), "4")" type="number" min="1" max="10" step="1" />
            <div class="setting-hint form-text">@_localizer["Settings_Gotify_Priority_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <button class="btn-send-gotify-test btn btn-sm btn-primary-3 col-12 col-lg-2">@_localizer["Test"].Value</button>
        </div>
    </div>
}