@model IDictionary<string, string>?
@using Memtly.Core.Constants

@{
    var isDemoMode = await _settings.GetOrDefault(MemtlyConfiguration.IsDemoMode, false);
}

@if (isDemoMode)
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <span>@(_localizer["Feature_Unavailable_Demo_Mode"].Value)</span>
        </div>
    </div>
}
else if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Enabled"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Notifications.Smtp.Enabled.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Enabled_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Recipient_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.Recipient" placeholder="name1@your-domain.com,name2@your-domain.com" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.Recipient.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Recipient_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Host_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.Host" placeholder="smtp.your-domain.com" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.Host.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Host_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Port_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.Port" placeholder="587" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.Port.ToUpper(), "587")" type="number" min="0" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Port_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Username_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.Username" placeholder="username" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.Username.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Username_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Password_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.Password" placeholder="password" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.Password.ToUpper(), string.Empty)" type="password" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Password_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_From_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.From" placeholder="no-reply@your-domain.com" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.From.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_From_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Display_Name_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.DisplayName" placeholder="" value="@Model.GetValue(MemtlyConfiguration.Notifications.Smtp.DisplayName.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Display_Name_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Smtp_Use_SSL_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Notifications.Smtp.UseSSL">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Notifications.Smtp.UseSSL.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Smtp_Use_SSL_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container setting-advanced">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Basic_EmailReport_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Reports.Email.Enabled">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.GetValue(MemtlyConfiguration.Reports.Email.Enabled.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="setting-hint form-text">@_localizer["Settings_Basic_EmailReport_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <button class="btn-send-smtp-test btn btn-sm btn-primary-3 col-12 col-lg-2">@_localizer["Test"].Value</button>
        </div>
    </div>
}